# This config uses the `.circleci/extended/orb-test.yml` as its base, and then publishes the app to S3.
version: 2.1
defaults: &defaults
  working_directory: ~/app
  docker:
    - image: node:16-alpine
orbs:
  node: circleci/node@5.0.2
  aws-s3: circleci/aws-s3@2.0
jobs:
  setup_workspace:
    <<: *defaults
    steps:
      - checkout
      - persist_to_workspace:
        root: ~/
        paths:
          - app
  install_dependencies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Install Dependencies
          command: yarn
      - persist_to_workspace:
          root: ~/
          paths:
            - app
workflows:
  test:
    jobs:
      - node/test:
          version: "16.17"
          post-steps:
            - run: yarn run build
            - aws-s3/copy:
                from: dist/
                to: s3://sample-app-vue
                arguments: --recursive


# TODO:
# declare jobs to be used within workflows
# use docker container with yarn
